{% extends 'base.html.twig' %}

{% block title %}{{ app.user }}'s Convs{% endblock %}

{% set page_title = 'Conv' %}

{% block body %}
<h2>Vos Convs</h2>
<ul>
    {% for conv in convs %}
        <li>
            <a href="{{ path('messaging_conv', { id: conv.id }) }}">
                Conv #{{ conv.id }} - Dernier message le {{ conv.dateLastMessage|date('d/m/Y H:i', "Europe/Paris") }}
            </a>
        </li>
    {% else %}
        <p>Vous n'avez aucune conv.</p>
    {% endfor %}
</ul>

<h2>Créer une nouvelle conversation</h2>
<form action="{{ path('messaging_new') }}" method="POST">
        <button type="submit">Créer une conversation</button>
    </form>

    
{% endblock %}
